<launch>
  <node name="trader" pkg="dczd_simserver_agent" type="trader_node" output="screen">
    <!-- Address of a lighthouse you work on, airalab on sidechain lighthouse by default -->
    <param name="lighthouse" value="0xE730a219813BC7b54BE2bE4dBf1473eaF22F3169" />
    <!-- A unique model Qm...., hello_aira model by default -->
    <param name="model" value="QmY5NqZdbHqupP5xrTCkPGh6n5NthET7ePwmL2qewTrxcF" />
    <!-- A token your CPS works with, bridged XRT token by default -->
    <param name="token" value="0xc34B089D3Dfe7bdf39a7Cd3D64116b2395dba845" />
    <!-- Ethereum blocks lifetime, ~12-15 sec for one -->
    <param name="order_lifetime" value="100" />
  </node>
</launch>
